<a href="https://colab.research.google.com/github/junsookim1/code-test/blob/master/0714_1037%EB%B2%88_%EC%95%BD%EC%88%98_%EC%A4%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 문제  
양수 A가 N의 진짜 약수가 되려면, N이 A의 배수이고, A가 1과 N이 아니어야 한다. 어떤 수 N의 진짜 약수가 모두 주어질 때, N을 구하는 프로그램을 작성하시오.

## 입력
첫째 줄에 N의 진짜 약수의 개수가 주어진다. 이 개수는 50보다 작거나 같은 자연수이다. 둘째 줄에는 N의 진짜 약수가 주어진다. 1,000,000보다 작거나 같고, 2보다 크거나 같은 자연수이고, 중복되지 않는다.

## 출력
첫째 줄에 N을 출력한다. N은 항상 32비트 부호있는 정수로 표현할 수 있다.

In [63]:
A = int(input('N의 진짜 약수의 개수:'))

def factor(*arg):
  for i in arg:
    i
  return i

B = factor(input('N의 진짜 약수:').split())

N의 진짜 약수의 개수:8
N의 진짜 약수:2 3 4 6 8 12 16 24

In [64]:
print('N:',int(B[0])*int(B[-1]))

N: 48

[1, 2, 4, 5, 10, 20]

[2, 4, 5, 10]